@model IEnumerable<FoodDelivery.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

@foreach (Restaurant r in Model)
{
    <div class="card restaurant-card mb-4 p-2 px-3" onclick="moveToDetails('@Url.Action("Details", "Restaurant", new { id = r.Id })', event)" style="cursor:pointer;">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5>
                    @r.Name
                </h5>

                <div class="text-wrap text-break">
                    @r.Description
                </div>
            </div>
            
            <div>
                @if (User.IsInRole("admin"))
                {
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRestaurantModal" data-bs-whatever="@r.Id">Удалить</button>
                }
            </div>
        </div>
    </div>
}

<div class="modal fade" id="deleteRestaurantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Вы действительно хотите удалить ресторан ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Restaurant" asp-action="Delete" class="d-inline">
                    <input type="hidden" name="id" id="deleteRestaurantInp" value="">
                    <input type="submit" value="Удалить" class="btn btn-danger me-2">
                </form>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function moveToDetails(url, event) {
            if (event.target.tagName === 'A' || event.target.closest('a') || event.target.tagName === 'BUTTON' || event.target.closest('button')) {
                return;
            }
            window.location.assign(url);
        }

        const deleteRestaurantModal = document.getElementById('deleteRestaurantModal')
        if (deleteRestaurantModal) {
            deleteRestaurantModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                const id = button.getAttribute('data-bs-whatever')
                let deleteRestaurantInp = document.getElementById('deleteRestaurantInp');
                deleteRestaurantInp.value = id;
            })
        }
    </script>
}